/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/page-cache
/public/css/*
/public/js/*
/storage/httpcache
/storage/debugbar
.svn
database/*.sql
!database/admin-base.sql
.idea
composer.lock